.container {
    width: 50%;
    background-color: #ddd;
    border-radius: 25px;
  }
  
  .skills {
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 25px;
    
  }
  
  .graphic {width: 100%; background-color: #db1578;}
  .css {width: 90%; background-color: #f3e629;}
  .jQuery {width: 70%; background-color: #16bd1e;}
  .Wordpress {width: 80%; background-color: #2784a0;}